<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

</head>
<body>

<div class="container">
    <div th:fragment="header">
        

        <div class="jumbotron">
            <div class="row text-center">
                <div class="">
                    <h2>Interstellar Transport System</h2>
                </div>
            </div>
        </div>
        
        <div class="pure-menu pure-menu-horizontal">
    <a href="#" class="pure-menu-heading pure-menu-link" th:href="@{/}">RouteMap</a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="#" class="pure-menu-link" th:href="@{/shortest}">Shortest Route</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link" th:href="@{/vertex/new}">Add Planet</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link" th:href="@{/edge/new}">Add Route</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link" th:href="@{/traffic/new}">Add Traffic</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link" th:href="@{/vertices}">Planets</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link" th:href="@{/edges}">Routes</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link" th:href="@{/traffics}">Traffics</a></li>
    </ul>
</div>
    </div>
</div>


</body>
</html>